#login {
  height: 93vh;
  max-height: 100%;
  max-width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color:rgb(247, 247, 247)
}

#informations {
  text-align: center;
  a {
    font-size: 14px;
    color: rgb(93, 158, 218);
    text-decoration: none;
  }
}