@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.footer {
  bottom: 100%;
  background: #F8F9FA;
  color: rgb(3, 3, 3);
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
  display: bottom;
  margin-top: 2rem;
  width: 100%;
}

.deploying-page__text--dh-logo {
  position: absolute;
  width: 120px;
}

.footerWrapper {
  margin-top: auto;
}

.logo{
  width: 40px;
  height: 40px;
}