footer {
  background-color: var(--first--color);
  width: auto;
  height: auto;
  z-index: 10;
  padding: 15px 42px 5px 42px;
  display: flex;
  align-items: center;  
  @media (min-width: 576px) {
    justify-content: space-between;
  }
  @media (max-width: 576px) {
    display: block;
    text-align: center;
  }     
  bottom: 0;

  a {
    margin-bottom: -7px;
  }
  
  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    svg {
      width: 22px;
    }
  }

  #copyrigth {    
    font-size: 16px;
    font-weight: 500;    
  }
}