
.container{
    margin-top: 55px;
    width: 1200px;
    height: auto;
    margin: 75px auto;  
    @media(max-width:1200px){
        width:auto;
    }   
    @media(max-width:580px){
        width:auto;
    }    
}

.cabecalho{
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    @media(max-width:600px){
        font-size: larger;
    }
}

.categoria-produto{
    font: 20px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.356); 
    margin-bottom: 10px;   
}   

.nome-produto{
    font-size: 32px;
}

.avaliacao-localizacao{
    display:grid;
    grid-template-columns:1fr 11fr 1fr; 
    margin: 0px 0px 0px 0px; 
    @media(max-width:1200px){
        grid-template-columns:1fr 8fr ;
    }  
    @media(max-width:780px){
        grid-template-columns:1fr 5fr ;
    }
    @media(max-width:480px){
        grid-template-columns:1fr 2fr ;
    }
}

.av{    
    margin-bottom: 10px;
}

.localizacao-texto{
    margin: 10px;
}

.avaliacao-produto{
    margin-right: 10px;    
}

.retornar-produto{
    margin-left: 10px;
    font-style: normal;
}

.galeria-imagens{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    padding-bottom: 50px;
    width: auto;
    height: auto;
    @media(max-width: 600px){
        grid-template-columns: 1fr;
    }
}

#lightbox-img {   
    margin: 100px 0px 50px 100px;
    object-fit: cover;
    max-width: 350px;
    max-height: 270px;
  }
  
#lightbox {    
    display:grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(12, 11, 11, 0.582);   
}  

.imagens-secundarias{
    display:grid;
    grid-template-columns: auto auto;
}

.img-principal{
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
}

.img-secundaria{    
    width: 100%;
    height: 100%;    
    padding: 5px;
}

.descricao-produto, .caracteristicas-produto{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 50px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}

.descricao-localizacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    p{
        padding-right: 3vh;        
    }
    @media(max-width:990px){
        grid-template-columns: auto;
    }
}

.descricao-produto{        
    border-radius: 5px;
    padding: 5vh 0vh;    
    h3{
        padding-bottom: 20px;
    }
    p{
        width: 100%;
    }
    
}

.mapa-produto{
    border: 0px;     
    max-width: 580px;  
    @media(max-width:1200px) {
        width: 400px;        
    }    
}

.mapa{
    width: 100%;
}

.div-calendario{
    background-color:var(--second--color);    
    h3{
        color: white; 
        padding: 3vh 0vh 0vh 0vh;           
        font-size: 28px;  
        align-items: center; 
        justify-content: center;
        display:flex;
        }    
}

.calendario1{
    @media(max-width:768px){
        display:none;
    }
}

.calendario2{
    display: flex;
    align-items: center;
    justify-content: center;    
    @media(min-width:768px){
        display:none;
    }
}

.calendario-reserva{
    background-color: var(--second--color);
    width: 100%;
    height: auto;
    border-radius: 15px;
    display:grid;
    grid-template-columns: 2fr 1fr;  
    grid-template-rows: 1fr;
    padding:2vh 3vh 8vh 3vh; 
    @media(max-width:1023px){
        grid-template-columns: auto; 
    }
    
    
}
.div-btn {
    display:flex;
    justify-content: center;
    align-items: center;
}
    

.btn-reserva{  
    display:flex;
    justify-content: center;
    align-items: center;  
    margin-top:5vh;     
    width: 230px;
    height: 40px;
    border:none;
    border-radius: 15px;
    background-color: var(--first--color);
    &:hover{
        background-color: rgb(172, 131, 28);
    }
    @media(max-width:1250px){

        width: 150px;
    }
    @media(max-width: 640px){
        width: 100px;                     
    }    
}

.caracter{
    h3{
        padding-top: 50px;
    }
}

.caracteristicas-produto{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media(max-width: 1200px){
        grid-template-columns: auto auto; 
    } 
    @media(max-width: 640px){
        grid-template-columns: auto; 
    } 
}

.imagem-botao{
    position: relative;
}

.btn-ver-mais{
    position:absolute;
    bottom: 10px;
    right: 10px;
}

.politica{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: auto auto auto; 
    @media(max-width: 1200px){
        grid-template-columns: auto auto; 
    } 
    @media(max-width: 640px){
        grid-template-columns: auto; 
    }   
}

.normas, .cancelamento, .seguranca{
    h5{
        padding-bottom: 20px;
        font-style:oblique;
    }
}

.normas-texto{
    padding: 0px 10px 5px 10px;
}

.seguranca{    
    padding: 0px 10px;
    @media(max-width: 640px){
        padding-top: 20px; 
    }
}

.cancelamento{
    padding-left: 10px;
    @media(max-width: 1200px){
        padding-top: 20px; 
    }
}